<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34564683848-hctbjfimpjf3b762b12ft90mmmp6gpll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34564683848-hctbjfimpjf3b762b12ft90mmmp6gpll</string>
	<key>API_KEY</key>
	<string>AIzaSyCR2iJBgj1JEKwNwTGNRMUPnsoKQ2l8XRs</string>
	<key>GCM_SENDER_ID</key>
	<string>34564683848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.susatthi.flutterSampleRoggle</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-roggle</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-roggle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34564683848:ios:ff2ba15c5951d7a10d407d</string>
</dict>
</plist>